.page-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

.content {
  background-color: lightgrey;
}

.login {
  height: 45vh;
  background: grey;
  border-right: solid 1px #000;
  border-left: solid 1px #000;
  border-bottom: 1px solid #000;
}

.register {
  height: 45vh;
  background: #fff;
  border-bottom: 1px solid #000;
  border-right: solid 1px #000;
}

.numero {
  font-family: 'Audiowide', cursive;
  margin-left: 7px;
}

.respostas {
  font-family: 'Audiowide', cursive;
  height: 50% !important;
}

.box {
  margin-top: 10%;
}

.botao {
  width: 150px;
  padding: 0;
}

.teste {
  position: relative;
  bottom: 5px;
}

.arrow {
  font-size: 23px;
  position: relative;
  left: 15px;
}

.dropdown-content.active, .dropdown-content {
  position: absolute;
  top: 15px !important;
  left: 15px !important;
}

@font-face {
  font-family: 'DatBox';
  src: url('../font/transfonter.org-20180824-194508/DatBox.woff2') format('woff2'),
      url('../font/transfonter.org-20180824-194508/DatBox.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fonte-logo {
  font-family: 'DatBox';
}

.modal {
  height: 1000px !important;
  margin: 15px auto;
}

.modal-footer {
  position: absolute;
  bottom: 16px;
}

.buttons {
  width: 100% !important;
  font-size: 12px;
}

.calc {
  width: 150px;
  margin: 0 auto 20px auto;
}

.topo {
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.titulos1, .titulos2 {
  border-top: 1px #000 solid;
  border-radius: 10px 10px 0 0;
  border-left: 1px #000 solid;
  border-right: 1px #000 solid;
  padding: 7px !important;
  font-size: 18px;
  background-color: #a2a2a2;
}

.titulos1 {
  background-color: #fff;
}
