body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.page-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

.content {
  background-color: lightgrey;
}

.login {
  height: 50vh;
  background: grey;
  border-right: solid 1px #000;
}

.register {
  height: 50vh;
  background: lightgrey;
}

.numero {
  font-family: 'Audiowide', cursive;
  margin-left: 7px;
}

.respostas {
  font-family: 'Audiowide', cursive;
}
